
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="长沙软件开发，电力行业解决方案，水利行业解决方案，林业行业解决方案，交通行业解决方案。">
	<meta name="description" content="【湖南汇智创发】是一家致力于为行业软件开发，技术推广，信息技术服务的、无人机航空测绘和平台研发、AI技术研发和产品研究的互联网服务商。">
    <title>湖南汇智创发信息科技有限公司</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- 引入icon样式 -->
    <link rel="stylesheet" href="/assets/iconFont/iconfont.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/public.css">
    <link rel="stylesheet" href="/assets/css/about.css">
    <link rel="shortcut icon" href="../../assets/images/hzcf_logo.ico" type="image/x-icon">
</head>

<body>

     <!-- 头部 -->
     <%= require('../../common/header.ejs')() %>


   <!-- 图片 -->

   <div>
        <img class="img-fluid" src="/assets/images/about.png" alt="">
    </div>


     <!-- 公司概况 -->

        <div class='about-box1'>
            <div class='num-title'>
                <div class="num-box">
                    <h1>01</h1>
                    <span></span>
                </div>
        
                <div class='title-box'>
                    <h5>COMPANY OVERVIEW</h5>
                    <h3>公司概况</h3>
                </div>
            </div>
            <div class="about-page1 container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class='left'>
                            <p>汇智创发拥有专业化的应用开发服务团队，为政府企业和中小型企业客户提供应用软件开发和维护服务。凭借标准化的研发流程以及质量管控标准，以及多个项目的丰富项目实践经验。
                            </p>
                            <p>客户提供包括：系统开发、平台开发、APP开发。定制等全栈服务。汇智创发提供更高的应用软件开发的投资回报成熟的开发和交付模式，能大幅的降低开发成本，为客户提供更高的应用软件开发的投资回报
                            </p>
                            <div>
                                汇智创发拥有专业化的应用开发服务团队，为政府企业和中小型企业客户提供应用软件开发和维护服务。凭借标准化的研发流程以及质量管控标准，以及多个项目的丰富项目实践经验。客户提供包括：系统开发、平台开发、APP开发。定制等全栈服务。汇智创发提供更高的应用软件开发的投资回报成熟的开发和交付模式，能大幅的降低开发成本，为客户提供更高的应用软件开发的投资回报
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class='right'>
                            <img class='pc' src="/assets/images/about-pc1.png" alt="">
            
                            <img class='mobile' src="/assets/images/about-mobile1.png" alt="" >
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    
        <!-- 核心价值 -->
        <div class='about-box1'>
            <div class='num-title'>
                <div class="num-box">
                    <h1>02</h1>
                    <span></span>
                </div>
        
                <div class='title-box'>
                    <h5>CORE VALUE</h5>
                    <h3>核心价值</h3>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row about-items">
                    <div class="col-md-4 col-sm-12">
                        <div class="item">
                            <img src="/assets/images/about-item1.png" alt="">
                            <h3>愿景</h3>
                            <p>实现客户、员工、企业功能发展</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="item">
                            <img src="/assets/images/about-item2.png" alt="">
                            <h3>使命</h3>
                            <p> 提供优质的产品和卓越的服务，为客户创造价值发展
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="item">
                            <img src="/assets/images/about-item3.png" alt="">
                            <h3>核心价值</h3>
                            <p>为客户创造价值为员工提供发展空间注重企业社会责任
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- 联系我们 -->
        <div class='about-box1'>
            <div class='num-title'>
                <div class="num-box">
                    <h1>03</h1>
                    <span></span>
                </div>
                <div class='title-box'>
                    <h5>CONTACT US</h5>
                    <h3>联系我们</h3>
                </div>
            </div>
             
                <ul class="info">
                    <li>
                        <img class='site' src="/assets/images/mobile-site.png" alt="">
                        <div>
                           <h3>公司位置</h3>
                           <p>湖南省长沙市芙蓉区东屯渡街道人民东路458号仁和香缇雅境</p>
                        </div>
                    </li>
                    <li>
                        <img class='phone' src="/assets/images/mobile-phone.png" alt="">
                        <div>
                           <h3>手机号码</h3>
                           <p>18878789989</p>
                        </div>
                    </li>
                    <li>
                        <img class='call' src="/assets/images/mobile-call.png" alt="">
                        <div>
                           <h3>公司电话</h3>
                           <p>0731-89677267</p>
                        </div>
                    </li>
                </ul>
        </div>
    
        <!-- 地图 -->
        <div id='map'></div>

        <!-- 回到顶部 -->
        <div class="back-top">
            <span class="hdgw_iconxiangshangjiantou"></span>
        </div>
        
        <!-- 底部 -->
        <%= require('../../common/footer.ejs')() %> 

  
     <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
     <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
     <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
     <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
     <!-- 引入自己定义的 js -->
     <script src="/assets/js/public.js"></script>
     <!-- 高德地图 -->
     <script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=*"></script>
</body>

</html>