<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="长沙软件开发，电力行业解决方案，水利行业解决方案，林业行业解决方案，交通行业解决方案。">
	<meta name="description" content="【湖南汇智创发】是一家致力于为行业软件开发，技术推广，信息技术服务的、无人机航空测绘和平台研发、AI技术研发和产品研究的互联网服务商。">
    <title>湖南汇智创发信息科技有限公司</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- 引入icon样式 -->
    <link rel="stylesheet" href="/assets/iconFont/iconfont.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="shortcut icon" href="../../assets/images/hzcf_logo.ico" type="image/x-icon">
</head>


<body>
    <!-- 头部 -->
    <%= require('../../common/header.ejs')() %>


    <!-- 轮播图 -->

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/assets/images/banner1.png" class="d-block w-100" alt="汇集智慧,创新发展">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/banner2.png" class="d-block w-100" alt="巡智,让电网巡查更加智能">
            </div>
        </div>
    </div>


    <!-- 行业应用 -->

    <div class='title-box'>
        <h3>INDUSTRY APPLICATION</h3>
        <h2>行业应用</h2>
    </div>

    <div class="container-fluid" id='list'>
        <div class='row'>
            <div class="col-md-6 col-sm-12 col-lg-3 item">
                <div class="cover-container">
                    <img src="/assets/images/index1.png" alt="">
                    <div class='cover'>
                        <h5>电力</h5>
                        <p>汇智创发电力架空线路无人机巡检方案。</p>
                        <a href="#">了解更多&gt;</a>
                        <span class='line'></span>
                        <span>MORE</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 item">
                <div class="cover-container">
                    <img src="/assets/images/index2.png" alt="">
                    <div class='cover'>
                        <h5>水利</h5>
                        <p>2017年起承担建设适用于交通行业年度计划项目管理信息化系统。</p>
                        <a href="#">了解更多&gt;</a>
                        <span class='line'></span>
                        <span>MORE</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 item">
                <div class="cover-container">
                    <img src="/assets/images/index3.png" alt="">
                    <div class='cover'>
                        <h5>林业</h5>
                        <p>主导建设了省级林业造林工程，森林火灾预警、病虫害防治、森林监控的智能森林管理系统。 </p>
                        <a href="#">了解更多&gt;</a>
                        <span class='line'></span>
                        <span>MORE</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-lg-3 item">
                <div class="cover-container">
                    <img src="/assets/images/index4.png" alt="">
                    <div class='cover'>
                        <h5>交通</h5>
                        <p>2017年起承担建设适用于交通行业年度计划项目管理信息化系统。</p>
                        <a href="#">了解更多&gt;</a>
                        <span class='line'></span>
                        <span>MORE</span>
                    </div>
                </div>
            </div>
           
           
        </div>
    </div>

    <!-- 服务 -->

    <div class='title-box'>
        <h3>WHAT WE CAN DO</h3>
        <h2>服务</h2>
    </div>

    <div class="container-fluid" id='server-box'>
        <div class='row'>
            <div class='col-md-6 col-sm-12'>
                <div class="server-item">
                    <img src="/assets/images/server1.png" alt="">
                    <h4>软件系统集成</h4>
                    <p>以系统的高度为客户需求提供应用的系统模式，以及实现该系统模式的具体技术解决方案和运作方案，即为用户提供一个全面的系统解决方案</p>
                </div>
            </div>
            <div class='col-md-6 col-sm-12'>
                <div class="server-item">
                    <img src="/assets/images/server2.png" alt="">
                    <h4>应用开发</h4>
                    <p>指使用程序语言C#、 java 、 c++、vb等高级即为用于商业，生活应用的软件开发。
                    </p>
                </div>
            </div>
        </div>
    </div> 

     <!-- 回到顶部 -->
    <div class="back-top">
        <span class="hdgw_iconxiangshangjiantou"></span>
    </div>

    <!-- 底部 -->
    <%= require('../../common/footer.ejs')() %>
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- 引入自己定义的 js -->
    <script src="/assets/js/public.js"></script>
</body>

</html>