<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="长沙软件开发，电力行业解决方案，水利行业解决方案，林业行业解决方案，交通行业解决方案。">
	<meta name="description" content="【湖南汇智创发】是一家致力于为行业软件开发，技术推广，信息技术服务的、无人机航空测绘和平台研发、AI技术研发和产品研究的互联网服务商。">
    <title>湖南汇智创发信息科技有限公司</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- 引入icon样式 -->
    <link rel="stylesheet" href="/assets/iconFont/iconfont.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/service.css">
    <link rel="shortcut icon" href="../../assets/images/hzcf_logo.ico" type="image/x-icon">
</head>

<body>
    <!-- 头部 -->
    <%= require('../../common/header.ejs')() %>


   <!-- 图片 -->
    <div>
        <img class="img-fluid" src="/assets/images/service.png" alt="">
    </div>
    <!-- 图文布局PC -->
    <div class='container service-box-pc'>
        <div class="row service-pc1-box">
            <div class="col-md-7">
                <div class="service-pc1">
                    <img class="img-fluid" src="/assets/images/service-pc1.png" alt="">
                </div>
            </div>
            <div class="class col-md-5">
                <div class="service-pc1-text post-t1">
                    <h5>OVERVIEW</h5>
                    <h3>概述</h3>
                    <div>汇智创发拥有专业化的应用开发服务团队，为政府企业和中小型企业客户提供应用软件开发和维护服务。凭借标准化的研发流程以及质量管控标准，以及多个项目的丰富项目实践经验，汇智创发能够为客户提供包括：系统开发、平台开发、APP开发、项目定制等全栈服务。同时，汇智创发提供成熟的开发和交付模式，能大幅的降低开发成本，为客户提供更高的应用软件开发的投资回报。
                    </div>
                </div>
            </div>
        </div>

        <div class="row service-pc1-box">

                <div class="class col-md-5">
                    <div class="service-pc1-text post-t2">
                        <h5>SERVICE ADVANAGE</h5>
                        <h3>服务优势</h3>
                        <div>
                            <p>高水准的研发团队：团队核心骨干来自各大互联网、IT服务企业，有着 过硬的技术能力和专业素养，为客户专业化的技术服务。</p>
                            <p>全生命周期开发服务：涵盖开发流程中的各个阶段，包括：需求分析、 设计、编码、测试、部署以及运维支持。</p>
                            <p>多样化的定制开发服务：汇智创发凭借丰富的项目经验积累，为客户提 供多样化、专业化的定制化开发服务。</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="service-pc2">
                        <img class="img-fluid" src="/assets/images/service-pc2.png" alt="">
                    </div>
                </div>
            </div>
    </div>

     <!-- 图文布局 mobile -->
       
     <div class="service-box-mobile">
        <div class="service-mobile1">
            <img class='img-fluid' src="/assets/images/service-mobile1.png" alt="">
            <div class='mobile1-text'>汇智创发拥有专业化的应用开发服务团队，为政府企业和中小型企业客户提供应用软件开发和维护服务。凭借标准化的研发流程以及质量管控标准，以及多个项目的丰富项目实践经验，汇智创发能够为客户提供包括：系统开发、平台开发、APP
             开发、项目定制等全栈服务。同时，汇智创发提供成熟的开发和交付模式，能大幅的降低开发成本，为客户提供更高的应用软件开发的投资回报。                                 
            </div>
        </div>

        <div class="service-mobile1">
                <img class='img-fluid' src="/assets/images/service-mobile2.png" alt="">
                <div class='mobile1-text2'> 
                    <p>高水准的研发团队：团队核心骨干来自各大互联网、IT服务 企业，有着过硬的技术能力和专业素养，为客户专业化的技 术服务。</p>  
                    <p>全生命周期开发服务：涵盖开发流程中的各个阶段，包括： 需求分析、设计、编码、测试、部署以及运维支持。</p>   
                    <p>多样化的定制开发服务：汇智创发凭借丰富的项目经验积累， 为客户提供多样化、专业化的定制化开发服务。</p>
                </div>
            </div>
     </div>

     <!-- 优秀案例 -->
     
     <div class="container service-imgs-box">
        <div class='title-box'>
            <h5>OUTSTANDING CASE</h5>
            <h3>优秀案例</h3>
        </div>
        <div class="row service-imgs">
           <div class="col-md-4 col-sm-12">
               <div class="s-img">
                   <img class='img-fluid' src="/assets/images/service-img1.png" alt="">
               </div>
           </div>
           <div class="col-md-4 col-sm-12">
                <div class="s-img">
                    <img class='img-fluid' src="/assets/images/service-img2.png" alt="">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                    <div class="s-img">
                        <img class='img-fluid' src="/assets/images/service-img3.png" alt="">
                    </div>
                </div>
        </div>
     </div>

     <!-- 回到顶部 -->
    <div class="back-top">
        <span class="hdgw_iconxiangshangjiantou"></span>
    </div>
    
    <!-- 底部 -->
    <%= require('../../common/footer.ejs')() %>
    
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- 引入自己定义的 js -->
    <script src="/assets/js/public.js"></script>
</body>

</html>