<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="长沙软件开发，电力行业解决方案，水利行业解决方案，林业行业解决方案，交通行业解决方案。">
	<meta name="description" content="【湖南汇智创发】是一家致力于为行业软件开发，技术推广，信息技术服务的、无人机航空测绘和平台研发、AI技术研发和产品研究的互联网服务商。">
    <title>湖南汇智创发信息科技有限公司</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
     <!-- 引入icon样式 -->
     <link rel="stylesheet" href="/assets/iconFont/iconfont.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/public.css">
    <link rel="stylesheet" href="/assets/css//joinus.css">
    <link rel="shortcut icon" href="../../assets/images/hzcf_logo.ico" type="image/x-icon">
</head>

<body>
     <!-- 头部 -->
     <%= require('../../common/header.ejs')() %>

    <!-- 图片 -->

    <div>
        <img class="img-fluid" src="/assets/images/joinus.png" alt="">
    </div>
   
    <!-- 公司福利 -->
    <div class='joinus-box'>
        <div class='num-title'>
            <div class="num-box">
                <h1>01</h1>
                <span></span>
            </div>

            <div class='title-box'>
                <h5>COMPANY WELFARE</h5>
                <h3>公司福利</h3>
            </div>
        </div>
        <div class="container joinus-item-box">
            <div class="row joinus-items">
                <div class="col-md-4 col-sm-12">
                    <div class="item">
                        <img src="/assets/images/joinus-item1.png" alt="">
                        <h3>五险一金</h3>
                        <p>为员工提供标准的设备保障福利</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="item">
                        <img src="/assets/images/joinus-item2.png" alt="">
                        <h3>员工宿舍、免费工作餐</h3>
                        <p>免费的员工宿舍，免费提供中餐和晚餐</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="item">
                        <img src="/assets/images/joinus-item3.png" alt="">
                        <h3>年度旅游</h3>
                        <p>一年一次的组团外出旅游活动</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


     <!--培训晋升 -->
     <div class='joinus-box'>
        <div class='num-title'>
            <div class="num-box">
                <h1>02</h1>
                <span></span>
            </div>

            <div class='title-box'>
                <h5>COMPANY WELFARE</h5>
                <h3>培训晋升</h3>
            </div>
        </div>
        <div class="container joinus-item-box pc-box1">
            <div class="row pc-img-text">
                <div class="col-md-6">
                    <div class="pc-left-img">
                        <img class='img-fluid' src="/assets/images/joinus-t-pc.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="pc-text">
                          <p> 为了员工获得更广泛的工作经验，获得更多的知识，获得更多的职责，获得更多的工作机会，公司提供了多通道职业发展道路：</p>
                          <p>一，管理系列道路：是指向管理方向发展，沿着公司管理体系的架构实现管理位阶的上移。</p>
                          <p> 二，专业系列道路：向管理方向发展并不是唯一的职业发展途径，公司倡导员工在自己所热爱和擅长的专业领域向深度发展，成为该专业领域的“专家”或“资深人员”。</p>
                        </div>
                </div>
            </div>
        </div>
        <div class="mobile-box">
            <div class="mobile-img-text">
                <div class="mobile-img row">
                    <img  class='img-fluid ' src="/assets/images/joinus-t-mobile.png" alt="">
                    <div class="right ">为了员工获得更广泛的工作经验，获得更多的知识，获得更多的职责，获得更多的工作机会，公司提供了多通道职业发展道路：</div>
                </div>
                <div class="mobile-text">
                    <p>一，管理系列道路：是指向管理方向发展，沿着公司管理体系的架构实现管理位阶的上移。</p>
                    <p> 二，专业系列道路：向管理方向发展并不是唯一的职业发展途径，公司倡导员工在自己所热爱和擅长的专业领域向深度发展，成为该专业领域的“专家”或“资深人员”。</p>
                </div>
                </div>
            </div>
         </div>
    </div>


      <!--团队文化 -->
     <div class='joinus-box'>
        <div class='num-title'>
            <div class="num-box">
                <h1>03</h1>
                <span></span>
            </div>

            <div class='title-box'>
                <h5>TEAM CULTURE</h5>
                <h3>团队文化</h3>
            </div>
        </div>
        <div class="container joinus-item-box">
                <div class="row joinus-items">
                    <div class="col-md-4 col-sm-12 list-img">
                        <div>
                            <img class='img-fluid' src="/assets/images/joinus-list-img1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 list-img">
                        <div>
                            <img class='img-fluid ' src="/assets/images/joinus-list-img1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12 list-img">
                        <div>
                            <img class='img-fluid' src="/assets/images/joinus-list-img1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        <!-- <div class="container list-imgs-box">
            <div class='row'>
                <div class="col-md-4 col-sm-12">
                    <div>
                        <img class='img-fluid' src="/assets/images/joinus-list-img1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div>
                        <img class='img-fluid' src="/assets/images/joinus-list-img1.png" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div>
                        <img class='img-fluid' src="/assets/images/joinus-list-img1.png" alt="">
                    </div>
                </div>
            </div>
        </div> -->
    </div>


    <!--加入我们 -->
    <div class='joinus-box'>
        <div class='num-title'>
            <div class="num-box">
                <h1>04</h1>
                <span></span>
            </div>

            <div class='title-box'>
                <h5>JOIN US</h5>
                <h3>加入我们</h3>
            </div>
        </div>
        <!-- pc -->
        <div class="container joinus-item-box item-imgs">
            <div class="row joinus-imgs">
               <div class="col-md-4">
                    <div class="joinus-img">
                        <img class='img-fluid' src="/assets/images/joinus-img1.png" alt="">
                        <h3>上boss查看招聘岗位</h3>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="joinus-img">
                        <img class='img-fluid' src="/assets/images/joinus-img2.png" alt="">
                        <h3>上智联查看招聘岗位</h3>
                    </div>
               </div>
               <div class="col-md-4">
                    <div class="joinus-img">
                        <img class='img-fluid' src="/assets/images/joinus-img3.png" alt="">
                        <h3>上拉钩查看招聘岗位</h3>
                    </div>
               </div>
            </div>
        </div>
        <!-- mobile -->
        <div class="joinus-mobile">
            <div class='imgs-mobile'>
                <h3>查看招聘岗位</h3>
                <ul class='imgs-box'>
                    <li>
                        <img class='img-fluid' src="/assets/images/joinus-mobile1.png" alt="">
                        <h5>BOOS直聘</h5>
                        <span class='ri-line'></span>
                    </li>
                    <li>
                        <img class='img-fluid' src="/assets/images/joinus-mobile2.png" alt="">
                        <h5>智联招聘</h5>
                        <span class='ri-line'></span>
                    </li>
                    <li>
                        <img class='img-fluid' src="/assets/images/joinus-mobile3.png" alt="">
                        <h5>拉勾网</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 回到顶部 -->
    <div class="back-top">
        <span class="hdgw_iconxiangshangjiantou"></span>
    </div>
  
    <!-- 底部 -->
    <%= require('../../common/footer.ejs')() %> 

  

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <!-- 引入自己定义的 js -->
    <script src="/assets/js/public.js"></script>
</body>

</html>