<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>行业</th>
                            <th>服务</th>
                            <th>关于汇智</th>
                            <th>加入我们</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>电力</td>
                            <td>系统集成</td>
                            <td>公司简介</td>
                            <td>福利待遇</td>
                        </tr>
                        <tr>
                            <td>水利</td>
                            <td>软件开发</td>
                            <td>企业文化</td>
                            <td>团队文化</td>
                        </tr>
                        <tr>
                            <td>交通</td>
                            <td></td>
                            <td>联系我们</td>
                            <td>招聘岗位</td>
                        </tr>
                        <tr>
                            <td>林业</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-2">
                <div class="ewm">
                    <img src="/assets/images/ewm.jpg" alt="">
                    <p>扫一扫，联系我们</p>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-info">
        <p>Copyright 2019 湖南汇智创发科技技术有限公司，保留一切权利。</p>
        <p>备案号:<a  target="_blank" href="http://beian.miit.gov.cn">湘ICP备19023010号</a>
        </p>
    </div>
</div>
