<header class="header">
    <nav class="navbar navbar-expand-md navbar-dark">
        
        <div class="navbar-brand">
            <a href="/pages/index.html">
                <img src="/assets/images/logo.png" title="湖南汇智创发信息科技有限公司" />
                <img class='text-img' src="/assets/images/logo-text.png" title="湖南汇智创发信息科技有限公司" />
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <span class="hdgw_icongengduo user_icon"></span>
        
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
             <li class="nav-item nav-item-page" data-type='index.html'>
                <a class="nav-link" href="/pages/index.html">首页</a>
                <span></span>
            </li>
            <li class="nav-item nav-item-page" data-type='about.html'>
                <a class="nav-link" href="/pages/about.html">关于汇智</a>
                <span></span>
            </li>
            <li class="nav-item nav-item-page" data-type='industry.html'>
                <a class="nav-link" href="/pages/industry.html">行业</a>
                <span></span>
            </li>
            <li class="nav-item nav-item-page" data-type='service.html'>
                <a class="nav-link" href="/pages/service.html">服务</a>
                <span></span>
            </li>
            <li class="nav-item nav-item-page" data-type='joinus.html'>
                <a class="nav-link" href="/pages/joinus.html">加入我们</a>
                <span></span>
            </li>
          </ul>
          
        </div>
      </nav>
    
</header>