<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="长沙软件开发，电力行业解决方案，水利行业解决方案，林业行业解决方案，交通行业解决方案。">
	<meta name="description" content="【湖南汇智创发】是一家致力于为行业软件开发，技术推广，信息技术服务的、无人机航空测绘和平台研发、AI技术研发和产品研究的互联网服务商。">
    <title>湖南汇智创发信息科技有限公司</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
     <!-- 引入icon样式 -->
     <link rel="stylesheet" href="/assets/iconFont/iconfont.css">
    <!-- 自定义样式 -->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/public.css">
    <link rel="stylesheet" href="/assets/css/industry.css">
    <link rel="shortcut icon" href="../../assets/images/hzcf_logo.ico" type="image/x-icon">
</head>


<body>
    <!-- 头部 -->
    <%= require('../../common/header.ejs')() %>

    <!-- 图片 -->

    <div>
        <img class="img-fluid" src="/assets/images/industry.png" alt="">
    </div>
   
    <!-- tab -->
    <div class='tab-box public-box'>
        <ul class='tabs'>
            <li class='tab'>
                <p>ELECTRICITY</p>
                <h3>电力</h3>
                <span></span>
            </li>
            <li>
                <p>WATER</p>
                <h3>水利</h3>
                <span></span>
            </li>
            <li>
                <p>ARIAL</p>
                <h3>林业</h3>
                <span></span>
            </li>
            <li>
                <p>TRAFFIC</p>
                <h3>交通</h3>
                <span></span>
            </li>
        </ul>
    </div>

    <!-- 系统架构 -->

    <div class='public-box'>
            <div class='num-title'>
                <div class="num-box">
                    <h1>01</h1>
                    <span></span>
                </div>
        
                <div class='title-box'>
                    <h5>SYSTEM STRUCTURE</h5>
                    <h3>系统架构</h3>
                </div>
            </div>
            <div class='industry-imgs'>
                <img class="img-fluid" src="/assets/images/industry1.png" alt="">
            </div>
            <div class="line"></div>
    </div>

    <!-- 系统简介 -->

    <div class='public-box'>
            <div class='num-title'>
                <div class="num-box">
                    <h1>02</h1>
                    <span></span>
                </div>
        
                <div class='title-box'>
                    <h5>INTRODUCTION</h5>
                    <h3>系统简介</h3>
                </div>
            </div>
            <div class='system-text-mobile'>该系统致力于解决无人机电力巡检行业痛点，通过自动学习人工巡检轨迹，实现无人机电网自动化精细巡检。特电力巡检作业的流程标准化，大幅提高无人机电力巡检的工作效率和质量。对采集数据进行自动归挡和图像命名处理。实现对线路、杆塔设备的航点数据、巡检类型、缺陷图像、人员等进行关联存储和管理，大幅降低了缺陷处理的管理成本。
            </div>
            <div class='system-text-pc'>
                <p>该系统致力于解决无人机电力巡检行业痛点，通过自动学习人工巡检轨迹，实现无人机电网自动化精细巡检。特电力巡检作业的流程标准化，大幅提高无人机电力巡检的工作效率和质量。</p>
                <p>对采集数据进行自动归挡和图像命名处理。实现对线路、杆塔设备的航点数据、巡检类型、缺陷图像、人员等进行关联存储和管理，大幅降低了缺陷处理的管理成本。</p>
            </div>
    </div>    

     <!-- 系统优势 -->
     <div class='public-box'>
            <div class='num-title'>
                <div class="num-box">
                    <h1>03</h1>
                    <span></span>
                </div>
        
                <div class='title-box'>
                    <h5>SYSTEM ADVANTAGE</h5>
                    <h3>系统优势</h3>
                </div>
            </div>
            <div class='system-box'>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="system-item">
                            <img src="/assets/images/system1.png" alt="">
                            <h5>巡检自动化</h50>
                            <p class='text'>实现无人机全自主巡检，避免人员操作产生的不可控因素</p>
                            <div class="right-line"></div>
                            <div class="botton-line"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                            <div class="system-item">
                                <img src="/assets/images/system2.png" alt="">
                                <h5>巡检任务标准化</h50>
                                <p>巡检无人机飞行采集的航点数据可以重复利用，无人机巡检作业标准化</p>
                                <div class="botton-line"></div>
                            </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="system-item">
                            <img src="/assets/images/system3.png" alt="">
                            <h5>巡检作业智能化</h50>
                            <p>巡检作业通过系统进行全程管理，大幅提高巡检作业的工作效率</p>
                            <div class="right-line"></div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="system-item">
                            <img src="/assets/images/system4.png" alt="">
                            <h5>巡检作业数据化</h50>
                            <p>巡检记录，个人飞行履历，缺陷列表，线路杆塔巡检记录全部数据化</p>
                        </div>
                    </div>
                </div>
            </div>    
    </div>   

    <!-- 人工巡检vs智能化巡检 -->
    <div class='public-box'>
        <div class='num-title'>
            <div class="num-box">
                <h1>04</h1>
                <span></span>
            </div>
    
            <div class='title-box'>
                <h5>INTELLIGENT INSPECTION</h5>
                <h3>人工巡检vs智能化巡检</h3>
            </div>
        </div>
        <div class="four-img">
            <img class='img-fluid' src="/assets/images/industry-four.png" alt="">
            <span>VS</span>
        </div>

        <div class="four-text">
           <div class="text-tab">
               <h3>人工巡检流程</h3>
               <div>
                    <span>制定任务</span>><span>人工巡检</span>><span>人工整理素材</span>><span>缺陷审核</span>><span>整理缺陷素材</span>><span>输出缺陷列表</span>><span>复缺</span>><span>完成</span>
               </div>
           </div>
           <div class="text-tab select-tab">
                <h3>智能巡检流程</h3>
                <div>
                     <span>制定任务</span>><span class='active-span'>智能化巡检</span>>
                     <span class='active-span'>系统进行素材的归档</span>><span class='active-span'>缺陷审核</span>><span class='active-span'>自动生成缺陷列表</span>><span>复缺</span>><span>完成</span>
                </div>
            </div>
        </div>
    </div> 
    
    <!-- 回到顶部 -->
    <div class="back-top">
        <span class="hdgw_iconxiangshangjiantou"></span>
    </div>
    
   

    <!-- 底部 -->
    <%= require('../../common/footer.ejs')() %> 

  

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    
    <!-- 引入自己定义的 js -->
    <script src="/assets/js/public.js"></script>
</body>

</html>